<configuration>

    <appender name="SHELL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%msg%n)</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>roller.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="org.springframework.shell" level="OFF" >
        <appender-ref ref="SHELL"/>
    </logger>

    <logger name="com.mshmidov.roller" level="OFF" >
        <appender-ref ref="SHELL"/>
    </logger>

    <logger name="org.springframework" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
