<configuration>

    <appender name="SHELL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%msg%n)</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>roller.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="WARN"/>

    <logger name="com.mshmidov.roller" level="DEBUG" />

    <root level="WARN">
        <appender-ref ref="SHELL"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
