<configuration>

    <appender name="SHELL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.mshmidov.roller" level="OFF" />

    <root level="ERROR">
        <appender-ref ref="SHELL"/>
    </root>

</configuration>
